**/node_modules
**/build
**/.dart_tool
**/.git
backend/.env
backend/firebase-service-account.json
backend/data/*.db
backend/data/*.db-*
backend/exports/*.csv
backend/exports/*.json
mobile/
**/.DS_Store
